
@section Styles{
    <link href="~/css/register.css" rel="stylesheet">
}

@section Scripts{
<script src="~/js/register.js"></script>
}

<h1> Register new car </h1>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Daily Price </label>
        <div class="col-8">
            <input id="txtPrice" type="number" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Make </label>
        <div class="col-8">
            <input id="txtMake" name= "txtMake" type="text" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Model </label>
        <div class="col-8">
            <input id="txtModel" name= "txtModel" type="text" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Year </label>
        <div class="col-8">
            <input id="txtYear" name= "txtYear" type="number" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Passenger Capacity </label>
        <div class="col-8">
            <input id="txtPassengerCapacity" name= "txtPassengerCapacity" type="number" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Horse Power </label>
        <div class="col-8">
            <input id="txtHP" name= "txtHP" type="number" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Stock </label>
        <div class="col-8">
            <input id="txtStock" name= "txtStock" type="number" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Description </label>
        <div class="col-8">
            <input id="txtDescription" name= "txtDescription" type="text" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Image Url </label>
        <div class="col-8">
            <input id="txtImageUrl" name= "txtImageUrl" type="text" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button id="btnSave" type="button" class="btn btn-primary"> Save Car</button>
        </div>
    </div>
</div>